<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContactsBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ContactsBrowserLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ContactsBrowserTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D54958FB1ED8CFBE0074B5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D54959191ED8DA690074B5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
